<h1>Groups</h1>

<div class="accordion" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a id="accordion_add_group" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
         + Add New Group
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
          Group Name: <br />
          <input type="text" name="group_name" id="group_name"><br />
          <button id="add_group" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>

<div id="all_groups">


  <% @groups.each do |group| %>
    <span class="group_options dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" id="group_dropdown" href="#">&#9660;</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <strong>Add New Member</strong>
        <form>
          Name:<br />
            <input type="text" id="member_name<%= group.id %>" /><br />
          Mobile Number:<br />
            <input type="text" id="msisdn<%= group.id %>" /><br />
        </form>
          <div id="add_member_div">
            <button class="btn btn-success add_group_member" data-groupid=<%= group.id %>>Add Member</button>
          </div>
        <div id="delete_group_div">
          <button class="btn btn-danger delete_group" data-groupid=<%= group.id %>>Delete Group</button>
        </div>
      </ul>
    </span>
    <strong><%= group.name %></strong><br />

        <% group.members.each do |member| %>
          <p class="member"><%= member.name %></p>
        <% end %><br />
  <% end %>


</div>
